/* Enter your custom styles here */

/*
#application-monitorpedidos-display-component---AltaPedidos--ObjectPageLayout-OPHeaderContent{
    background-color: #ddebf7;
}
*/
#__vbox2{
    margin-top: -65px !important;
}

#application-monitorpedidos-display-component---AltaPedidos--ObjectPageLayout-OPHeaderContent{
margin-left: -105px !important;

}

#application-monitorpedidos-display-component---AltaPedidos--btnVisualizarPedido{
position: relative !important;
left: 75% !important;

}

#application-monitorpedidos-display-component---AltaPedidos--txtPrice{
font-size: 1.75em;
}

